@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box; /* serve para que a largura e a altura total de um elemento incluam seu conteúdo, seu preenchimento (padding) e sua borda, em vez de somá-los separadamente. Isso simplifica o desenvolvimento, pois o tamanho especificado para o elemento (por exemplo, width: 100px) é o tamanho real final que ele ocupará, eliminando a necessidade de cálculos manuais para compensar o padding e a borda. */
}


.logo{
    font-family:"Lobster Two", sans-serif;
    color:white;
    padding-left: 30px;
}


.links {
    display: flex;
    justify-content:space-between;
    list-style: none;
    padding-left: 0;
    gap: 50px;
    padding-right: 10rem;
}


#header {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 60px 4%;
    position: fixed;
   transition: 1s;
    
}

#header a{
    text-decoration: none;
}


#header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
    z-index: 2;
    
}

#header.rolagem a{
    color: rgb(96, 168, 250);
}

#header.rolagem h1{
    color:rgb(96, 168, 250);
}

#header.rolagem .links :hover{
    color:blue;
}

#header.rolagem span{
    background-color: rgb(96, 168, 250);
}

#header.rolagem span:hover{
    background-color: blue;
}
    


#lista{
    margin-left:auto;
}

.top{
    color:white;

}

.top:hover{
    transition:color 0.3 ease;
    color:rgb(0, 85, 241);
}
