@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box; /* serve para que a largura e a altura total de um elemento incluam seu conteúdo, seu preenchimento (padding) e sua borda, em vez de somá-los separadamente. Isso simplifica o desenvolvimento, pois o tamanho especificado para o elemento (por exemplo, width: 100px) é o tamanho real final que ele ocupará, eliminando a necessidade de cálculos manuais para compensar o padding e a borda. */
}


.logo{
    font-family:"Lobster Two", sans-serif;
    color:white;
    padding-left: 30px;
}


.links {
    display: flex;
    justify-content:space-between;
    list-style: none;
    padding-left: 0;
    gap: 50px;
    padding-right: 10rem;
}


#header {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 60px 4%;
    position: fixed;
   transition: 1s;
    
}

#header a{
    text-decoration: none;
}


#header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
    z-index: 2;
    
}

#header.rolagem a{
    color: rgb(96, 168, 250);
}

#header.rolagem h1{
    color:rgb(96, 168, 250);
}

#header.rolagem .links :hover{
    color:blue;
}

#header.rolagem span{
    background-color: rgb(96, 168, 250);
}

#header.rolagem span:hover{
    background-color: rgb(93, 129, 228);
}


    


#lista{
    margin-left:auto;
}

.top{
    color:white;

}

.top:hover{
    transition:color 0.3 ease;
    color:rgb(0, 85, 241);
}

.corpo{
    background-image: url(imagens/ChatGPT\ Image\ 7\ de\ nov.\ de\ 2025\,\ 20_05_59.png);
    background-color: rgb(0, 46, 198);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center -800px;

    
    



    
    
} 


.titulo{
    color:rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
    padding-top: 300px;

}

.segundotitulo{
    color:white;
    font-size: 60px;
    text-align: center;
    /* -webkit-text-stroke-width: 2px; */
    
}

html{
    height: 480vh;
}

#hamburguer{
    padding-right: 50px;
    height: 30px;
    width: 30px;
    background: transparent;
    border:transparent;
    border-radius: 3px;
    cursor: pointer;
}


.linha{
    width: 20px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    display: block;
    margin: 5px auto;
    transform-origin: center;
    transition: 0.2s;   
}


#butao{
    padding-right: 30px;
    top:10px;
}

#hamburguer.ativar .linha:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    background-color: rgb(255, 0, 0);

}


#hamburguer.ativar .linha:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    background-color: rgb(255, 0, 0);

}

#hamburguer.ativar .linha:nth-child(2){
    opacity: 0;
}


#curiosidades{
    flex-direction: column;
}


.title-curiosidades{
    margin-top: 25px;
}


#menu-extra{
position: absolute;                               /* deixa o elemento flutuar e permite você colocá-lo exatamente onde quiser na tela. */
top: 80px;
right: 60px;
width: 160px;
background: rgba(255, 255, 255, 0.95);          /* 0.95 = opacidade 95% (quase sólido, um pouquinho transparente). */
border-radius: 10px;
padding: 10px 0;                                 /*10px 0 significa 10px em cima/embaixo e 0 nas laterais. */
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
opacity: 0;                                      /*deixa invisível até que o js mude e adicione a outra classe*/
pointer-events: none;                            /*faz com que o elemento ignore eventos de mouse Quando combinado com opacity: 0, garante que o elemento oculto não bloqueie cliques nos elementos abaixo*/
transition: 0.3s ease;
z-index: 999;
}

#menu-extra ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}

#menu-extra a {
    text-decoration: none;
    color: rgb(0, 46, 198);
    font-size: 16px;
    padding: 6px;
    border-radius: 6px;
}

#menu-extra a:hover{
    color: rgb(49, 155, 255);
}

#menu-extra.aberto {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

/*css de cada quiz*/
#quiz-gumball-css-body{
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-gumball{
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;   /*margin superior 100px, esquerda e direita auto, e margin inferior 0.*/
    padding: 30px;
}

#title-quiz-gumball{
    color: #092b61;
    font-weight: 600;    /*negrito*/
    border-bottom: 1px solid #092b61;
    padding-bottom: 30px;
}

#title-quiz-gumball-2{
    font-size: 18px;
    color: #092b61;
    font-weight: 600;
}

#quiz-gumball{
    padding: 20px 0;
}

.btn{
    background: #fff;
    color:#092b61;
    font-weight: 500;
    width: 100%;
    border: 1px solid #092b61;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {      /*aplique isso somente se o botão NÃO tiver o atributo disabled, Isso impede que botões desabilitados mudem de cor quando o mouse passa por cima.*/
    background: #092b61;
    color: #fff;
}

.btn:disabled{                    /*👉 Quando o botão está normal:passa o mouse → muda cor de fundo e texto. 👉 Quando o botão está desabilitado: o cursor vira o símbolo de bloqueado, ele não sofre o efeito hover graças ao :not([disabled]). */
    cursor: no-drop;
}

#next-gumball-btn{
    background: #092b61;
    color:#fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: rgb(40, 233, 137);
    color: white;
}

.incorrect{
    background: rgb(219, 94, 94);
    color:white;
}

/*quadro-gumball*/
#quadro-gumball {
    background-image: url(imagens/gumball.jpeg);
    background-position: center;
    background-size: cover;
}

.play-simples {
    font-size: 60px;        /* tamanho do play */
    color: white;           /* cor do triângulo */
    text-decoration: none;  /* remove sublinhado */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

.play-simples:hover {
    opacity: 1;
    cursor: pointer;

}

/*galeria*/
#body-galeria{
    background-color: rgb(42, 74, 219);
}

.art{
    width: 100%;
    height: auto;
    
    margin-top: 30px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgs{
    background-color: aqua;
    width: 400px;
    height: 400px;
    margin:40px;
    border-radius: 25px;
    
}

#art-1{
    background-image: url(imagens/2a7bbad44c32664eb58ad41f68b5d8f8.jpg);
    background-position: center;
    background-size: cover;
}

#art-2{
    background-image: url(imagens/5d547b141bfe91b6c2f9e1bc85cbbe72.jpg);
    background-position: center;
    background-size: cover;
}

#art-3{
    background-image: url(imagens/5d92b5447207594884ca7942e972b44a.jpg);
    background-position: center;
    background-size: cover;
}

#art-4{
    background-image: url(imagens/847c7112b6476dc63425eb3357e20d0b.jpg);
    background-position: center;
    background-size: cover;
}

#art-5{
    background-image: url(imagens/8e16fdffbc3a9073c6e742404ba827f7.jpg);
    background-position: center;
    background-size: cover;
}

#art-6{
    background-image: url(imagens/95133d73b277ee3346768698c9bd24b7.jpg);
    background-position: center;
    background-size: cover;
}

#art-7{
    background-image: url(imagens/98b2c0df85c89833c1408359e81c7571.jpg);
    background-position: center;
    background-size: cover;
}

#art-8{
    background-image: url(imagens/9e02a00cc7ceae083b2d8c50871b63b5.jpg);
    background-position: center;
    background-size: cover;
}

#art-9{
    background-image: url(imagens/d847d0acdf6d2b68a062325a415f9358.jpg);
    background-position: center;
    background-size: cover;
}

#art-10{
    background-image: url(imagens/a12ab765d927ab2041e4ff88a6ab2ce0.jpg);
    background-position: center;
    background-size: cover;
}

#art-11{
    background-image: url(imagens/6318e1d026840b28e016885f96782041.jpg);
    background-position: center;
    background-size: cover;
}

#art-12{
    background-image: url(imagens/11728249792f2c453b8cba274c828349.jpg);
    background-position: center;
    background-size: cover;
}



#caixa{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}

.papelzinho{
    width: 300px;
    height: 55px;
    max-width: 400px;
    max-height: 150px;
    background: rgb(57, 69, 241);
    border-radius: 40px 40px 0px 0px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(17, 32, 170);
    padding-left: 10px;
    


}
.papel-caixa{
    width: 300px;
    height: 300px;
    max-width: 400px;
    max-height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20% 20%  15% 15%;
    border: 1px solid rgb(17, 32, 170);
    border-top: rgb(57, 69, 241);
}

svg{
    color: rgb(254, 246, 168);
}

.texto-estrelinha{
    color: #fff;
    font-size: 20px;
}


/*animações*/
.corpo-animações{
    background-image: url(imagens/ceu-azul.png);
    background-color: rgb(25, 112, 245);
}

#container-div-com-informações{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-com-informações{
    font-family:cursive;
    background-color: #ffffff;
    width: 70%;
    height: 70px;
    margin-top: 120px;
    border-radius: 15px;                       /*quadrinho fino branco */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}










/*css do quiz que fica no menu extra*/
#corpo-quiz{
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;           /*A largura e a altura totais do elemento incluem o conteúdo, o padding e a border*/
    background-color: cornflowerblue;
}

#title-quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#title-quiz{
    padding-top: 15rem;
    color: #fff;
}

#title-quiz-2{
    color: #fff;
}

.quadros-quiz-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.quadros-quiz{
    margin-top: 20px;
    width: 15rem;
    height: 15rem;
    background-color: #fff;
    border-radius: 15%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}















